*{
    margin: 0;
    padding: 0;
    font-size: 1em;
}
body{
    background-color: #dbdbdb;
}
#cabeçalho{
    background-color: #f7b600;
    text-align: center;
    padding: 15px;
}
#titulo {
    padding: 10px;
    font-size: 2.5em;
}

#area-menu {
    padding: 10px;
}

#postagens{
    padding: 15px;
    width: 920px;
    margin: auto;
    margin-top: 20px;
}

.postagem {
    padding: 15px;
    background: whitesmoke;
    width: 640px;
    float: left;
    margin-bottom: 20px; /* separa uma postagem da outra */
}

#img-1{
    width: 620px;
    margin: 0 auto;
}

#area-lateral{
    width: 240px;
    float: right;
    
    
}
#rodape{
    clear: both;
    text-align: center;
    background: rgb(112, 107, 107);
    padding: 15px;
    font-size: 1.1em;
    
}
.conteudo-lateral {
    background: whitesmoke;
    padding: 15px;
    margin-bottom: 25px;

}


a{
    text-decoration: none;
    padding: 5px;
    font-size: 1.1em;
    color: #f7b600;
}
a:link, a:visited{
    color: #f7b600;
}
a:hover{
    text-decoration: underline;
}
#cabeçalho a:link, #cabeçalho a:visited{
    color: white;
}
#cabeçalho a:hover{
    color: #f7b600;
    background: white;
}


h3{
    color: #565656;
    background: #ccc;
    padding: 5px;
    font-size: 1.5em;
}
p{
    text-align: left;
}